
input[type="reset"] {
    width: 40%;
    padding: 10px 0;
    margin: 10px auto;
    background: #f69312;
    border: 1px #f69312 solid;
    font-size: 110%;
    color: #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}



.btn-small {
    background-color: #f69312;
    border: none;
    color: white;
}
